<input type="text" class="product-name" data-bind="event: {keyup: getProduct}"/>
<table data-bind="visible: searchList().length > 0">
   <thead>
   <tr>
       <th>ID</th>
       <th>Product Name</th>
       <th>Product Price</th>
       <th>Preview</th>
       <th></th>
   </tr>
   </thead>
   <tbody data-bind="foreach: searchList">
   <tr>
       <td data-bind="text: entity_id"></td>
       <td data-bind="text: name"></td>
       <td><span data-bind="text: symbol"></span><span data-bind="text: price"></span></td>
       <td><img data-bind="attr: {src: src}" width="120" height="150" alt="Product Image"></td>
       <td><input type="checkbox" data-bind="checked: isCheck, event: { change: $parent.check }"></td>
   </tr>
   </tbody>
</table>
<hr>
<table class="table">
    <thead>
    <tr>
        <th>SKU</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Subtotal</th>
        <th></th>
    </tr>
    </thead>
    <tbody data-bind="foreach: productList">
    <tr>
        <td data-bind="text: sku"></td>
        <td><span data-bind="text: name"></span><img data-bind="attr: {src: src}" width="120" height="150" alt="Product Image"></td>
        <td>
            <button data-bind="click: qtyDown">-</button>
            <input type="number" data-bind="value: qty" style="width: 40px">
            <button data-bind="click: qtyUp">+</button>
        </td>
        <td><span data-bind="text: symbol"></span><span data-bind="text: total"></span></td>
        <td><button data-bind="click: $parent.delete">Delete</button></td>
    </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td><strong>Filled Lines Number: <span data-bind="text: countLine"></span> </strong></td>
            <td><strong>Total Qty: <span data-bind="text: countQty"></span></strong></td>
            <td><strong>Subtotal: <span data-bind="text: symbol"></span><span data-bind="text: subTotal"></span></strong></td>
            <td></td>
        </tr>
      </tfoot>
 </table>

 <button type="button" data-bind="click: addtocart, visible: productList().length > 0">
    Add To Cart
</button>
