<?php
/** @var \AHT\SalesAgent\Block\Customer\ListProduct $block */
?>

<?php 
    $product = $block->getProduct();
?>

<div class="template">
    <table class="table">
        <thead>
            <tr>
                <th class="col">Product Name</th>
                <th class="col">SKU</th>
                <th class="col">Commission Type</th>
                <th class="col">Commission Value</th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($product as $item) : ?>
            <tr>
                <td class="col"><a href="<?= $item->getProductUrl() ?>"><?= $item->getName() ?></a></td>
                <td class="col"><?= $item->getSku() ?></td>
                <td class="col"><?= $item->getCommissionType() == 1 ? "Percent" : "Fixed" ?></td>
                <td class="col"><?= $item->getCommissionValue() ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <?php if ($block->getToolbarHtml()) : ?>
        <div class="toolbar products-sale-toolbar bottom">
            <?= $block->getToolbarHtml() ?>
        </div>
    <?php endif; ?>
</div>