<legend class="legend"><span><?= $escaper->escapeHtml(__('Additional Information')) ?></span></legend><br>
<div class="field phone_number required">
   <label class="label" for="phone_number">
       <span><?= $block->escapeHtml(__('Phone number')) ?></span>
   </label>
   <div class="control">
       <input type="text" name="phone_number" id="phone_number" value="" title="<?= $block->escapeHtmlAttr(__('Phone number')) ?>" class="input-text" data-validate="{required:true, 'validate-number':true}">
   </div>
</div>
<div class="field company_type required">
   <label class="label" for="company_type">
       <span><?= $block->escapeHtml(__('Company Type')) ?></span>
   </label>
   <div class="control">
   <select id="company_type" name="company_type" title="<?= $block->escapeHtmlAttr(__('Company Type')) ?>" class="select">
            <option value=""><?= $block->escapeHtml(__('Please Select.')) ?></option>
            <option value="1"><?= $block->escapeHtml(__('CBD Manufacturer')) ?></option>
            <option value="2"><?= $block->escapeHtml(__('CBD Brand and Marketing Company')) ?></option>
            <option value="3"><?= $block->escapeHtml(__('CBD Extractor')) ?></option>
            <option value="4"><?= $block->escapeHtml(__('Other')) ?></option>
        </select>
   </div>
</div>
<div class="field organization_name">
   <label class="label" for="organization_name">
       <span><?= $block->escapeHtml(__('Organization Name')) ?></span>
   </label>
   <div class="control">
       <input type="text" name="organization_name" id="organization_name" value="" title="<?= $block->escapeHtmlAttr(__('Organization Name')) ?>" class="input-text">
   </div>
</div>

<script>
    require([
        'jquery'
    ], function($) {
        $(document).ready(function() {
            $('.organization_name').hide();
            $('#company_type').change(function() {
                if($(this).val() == 4) {
                    $('.organization_name').fadeIn();
                } else {
                    $('.organization_name').fadeOut();
                    $('.organization_name').val('');
                }
            })
        })
    })
</script>