<?php
/** @var \AHT\KnockOutJs\Block\Test $block */
?>

<div id="fastorder" data-bind="scope:'fastorder'">
   <!-- ko template: getTemplate() --><!-- /ko -->
   <script type="text/x-magento-init">
       {
           "#fastorder": {
               "Magento_Ui/js/core/app": {
               "components": {
                    "fastorder": {
                        "component": "AHT_KnockOutJs/js/test",
                        "template" : "AHT_KnockOutJs/test"
                    }
                }
                }
           }
       }
   </script>
</div>